*.gv
*.log
*.res
*.ps
.vscode
# the objects
*.o
# the libraries generated during compilation
*.a
*.so
# binaies
simplecar
picosat/picogcnf
picosat/picomcs
picosat/picomus
picosat/picosat
# the usual cmake tmp directory
build
